<p>about works!</p>
<doc-noticia titulo='Movidas' autor='Quien sea'>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolorum similique sit fuga distinctio nam, non minima odio soluta possimus nulla cumque, architecto maiores iusto quo cupiditate accusantium dolor voluptas.</p>
    <p>Ducimus, vero pariatur minus magni qui quo in nam soluta amet explicabo possimus quasi enim, earum dolor. Explicabo dolores voluptas accusamus numquam eveniet itaque, provident exercitationem qui delectus quibusdam amet.</p>
    <p>Perspiciatis, hic possimus reiciendis illo adipisci veritatis aliquam reprehenderit totam alias doloremque nisi odit saepe dolor repellat nobis harum atque voluptates. Perferendis reiciendis ipsa sit minus quam est laboriosam sequi?</p>
    <p>Omnis pariatur ullam accusantium minima libero perspiciatis, saepe quasi molestias assumenda repellat eveniet corporis. Laboriosam ipsum quia totam voluptatum fuga dolore quam distinctio atque officia pariatur dolor, architecto corporis harum.</p>
</doc-noticia>

<doc-noticia titulo='Noticia 2' autor='Otro más'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores deleniti consequatur accusantium earum explicabo tenetur, pariatur est quidem nam, iste vel soluta corporis mollitia ab aut optio! Dolorem, facere excepturi.</p>
    <p>Assumenda voluptate sunt hic laboriosam beatae sed saepe dicta illum deserunt officia accusantium dignissimos non incidunt eveniet, soluta iste laudantium aperiam. Pariatur dolor iste enim perspiciatis ipsum earum libero voluptates.</p>
    <p>Iure, porro nulla id repellendus rem velit modi fuga quis earum amet pariatur quas. Enim, excepturi repellendus praesentium repudiandae ullam totam nisi nulla! Ab maxime expedita officia, quod maiores nesciunt.</p>
    <p>Enim, quisquam et. Eveniet iure nemo incidunt est fuga minus asperiores autem facere dignissimos perspiciatis fugiat dolorem saepe distinctio, exercitationem quos iste blanditiis ex expedita laboriosam commodi non magni? Facilis!</p>
</doc-noticia>