<footer class="color_resaltado">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <address>
                    {{autor}}
                </address>
                <!--Ejemplo de Pipe-->
                <p class="col-12">
                    <!--{{fecha | date: 'fullDate' : null : 'es' | titlecase}}-->
                    {{fecha | date: 'fullDate' | titlecase}}
                </p>
            </div>   
        </div>
    </div>
</footer>

